{{ define "index"}}

{{ template "header"}}

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Главная страница</h1>
    <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae recusandae, corrupti a sapiente cum odit et quidem vel ea alias laudantium earum laborum dicta. Quas voluptatibus adipisci sequi tenetur voluptas. </p>
    {{ range . }}
    <div class="alert alert-danger">
      <h2>{{ .Title }}</h2>
      <p>{{ .Anons }}</p>
      <a href="/post/{{.Id }}" class="btn btn-danger">Читать далее</a>
    </div>

    {{ else }}
    <p class = "lead">Статей нет!</p>

    {{ end }}

    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Узнать больше</a>
    </p>
  </main>

{{ template "footer"}}

{{ end }}

